USE [master]
GO
/****** Object:  Database [GIS_demo]    Script Date: 12/8/2012 1:46:12 PM ******/
CREATE DATABASE [GIS_demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GIS_demo', FILENAME = N'D:\study\5 course\Venherskiy\DB\GIS_demo.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GIS_demo_log', FILENAME = N'D:\study\5 course\Venherskiy\DB\GIS_demo_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GIS_demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GIS_demo]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Companies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FuelTypes]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FuelTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FuelTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lands]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lands](
	[ID] [int] NOT NULL,
	[Station_ID] [int] NOT NULL,
	[OwnerShipType_ID] [int] NOT NULL,
	[Owner_ID] [int] NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Lands] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OwnershipTypes]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OwnershipTypes](
	[ID] [int] NOT NULL,
	[OwnershipType] [varchar](100) NOT NULL,
 CONSTRAINT [PK_OwnershipTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Persons](
	[ID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Surname] [varchar](100) NOT NULL,
	[Speciality] [int] NOT NULL,
	[Phone] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[Station_ID] [int] NOT NULL,
	[Fuel_ID] [int] NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Prices] PRIMARY KEY CLUSTERED 
(
	[Station_ID] ASC,
	[Fuel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Services]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Services](
	[Service_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Spec]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Spec](
	[ID] [int] NOT NULL,
	[Speciality] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Spec] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StationEmployees]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationEmployees](
	[Station_ID] [int] NOT NULL,
	[Person_ID] [int] NOT NULL,
 CONSTRAINT [PK_StationEmployees] PRIMARY KEY CLUSTERED 
(
	[Station_ID] ASC,
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stations]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Stations](
	[ID] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Street] [varchar](50) NOT NULL,
	[HouseNo] [int] NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[Coordinates] [varchar](50) NOT NULL,
	[Description] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Stations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StationService]    Script Date: 12/8/2012 1:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StationService](
	[Station_ID] [int] NOT NULL,
	[Service_ID] [int] NOT NULL,
 CONSTRAINT [PK_StationService] PRIMARY KEY CLUSTERED 
(
	[Station_ID] ASC,
	[Service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Lands] ADD  CONSTRAINT [DF_Lands_Description]  DEFAULT ('-') FOR [Description]
GO
ALTER TABLE [dbo].[Stations] ADD  CONSTRAINT [DF_Stations_Description]  DEFAULT ('-') FOR [Description]
GO
ALTER TABLE [dbo].[Lands]  WITH CHECK ADD  CONSTRAINT [FK_Lands_OwnershipTypes] FOREIGN KEY([OwnerShipType_ID])
REFERENCES [dbo].[OwnershipTypes] ([ID])
GO
ALTER TABLE [dbo].[Lands] CHECK CONSTRAINT [FK_Lands_OwnershipTypes]
GO
ALTER TABLE [dbo].[Lands]  WITH CHECK ADD  CONSTRAINT [FK_Lands_Persons] FOREIGN KEY([Owner_ID])
REFERENCES [dbo].[Persons] ([ID])
GO
ALTER TABLE [dbo].[Lands] CHECK CONSTRAINT [FK_Lands_Persons]
GO
ALTER TABLE [dbo].[Lands]  WITH CHECK ADD  CONSTRAINT [FK_Lands_Stations] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Stations] ([ID])
GO
ALTER TABLE [dbo].[Lands] CHECK CONSTRAINT [FK_Lands_Stations]
GO
ALTER TABLE [dbo].[Persons]  WITH CHECK ADD  CONSTRAINT [FK_Persons_Spec] FOREIGN KEY([Speciality])
REFERENCES [dbo].[Spec] ([ID])
GO
ALTER TABLE [dbo].[Persons] CHECK CONSTRAINT [FK_Persons_Spec]
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD  CONSTRAINT [FK_Prices_FuelTypes] FOREIGN KEY([Fuel_ID])
REFERENCES [dbo].[FuelTypes] ([ID])
GO
ALTER TABLE [dbo].[Prices] CHECK CONSTRAINT [FK_Prices_FuelTypes]
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD  CONSTRAINT [FK_Prices_Stations] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Stations] ([ID])
GO
ALTER TABLE [dbo].[Prices] CHECK CONSTRAINT [FK_Prices_Stations]
GO
ALTER TABLE [dbo].[StationEmployees]  WITH CHECK ADD  CONSTRAINT [FK_StationEmployees_Persons] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Persons] ([ID])
GO
ALTER TABLE [dbo].[StationEmployees] CHECK CONSTRAINT [FK_StationEmployees_Persons]
GO
ALTER TABLE [dbo].[StationEmployees]  WITH CHECK ADD  CONSTRAINT [FK_StationEmployees_Stations] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Stations] ([ID])
GO
ALTER TABLE [dbo].[StationEmployees] CHECK CONSTRAINT [FK_StationEmployees_Stations]
GO
ALTER TABLE [dbo].[Stations]  WITH CHECK ADD  CONSTRAINT [FK_Stations_Companies] FOREIGN KEY([Company_ID])
REFERENCES [dbo].[Companies] ([ID])
GO
ALTER TABLE [dbo].[Stations] CHECK CONSTRAINT [FK_Stations_Companies]
GO
ALTER TABLE [dbo].[StationService]  WITH CHECK ADD  CONSTRAINT [FK_StationService_Services] FOREIGN KEY([Service_ID])
REFERENCES [dbo].[Services] ([Service_ID])
GO
ALTER TABLE [dbo].[StationService] CHECK CONSTRAINT [FK_StationService_Services]
GO
ALTER TABLE [dbo].[StationService]  WITH CHECK ADD  CONSTRAINT [FK_StationService_Stations] FOREIGN KEY([Station_ID])
REFERENCES [dbo].[Stations] ([ID])
GO
ALTER TABLE [dbo].[StationService] CHECK CONSTRAINT [FK_StationService_Stations]
GO
USE [master]
GO
